:root {
  --border-white: #e5e5e5;
  --border-gray: #959595;
}

@font-face {
  font-family: 'W95FA';
  src:
    url(fonts/w95fa.woff) format('woff'),
    url(fonts/w95fa.woff2) format('woff2');
}

body {
  font-family: 'W95FA', sans-serif !important;
  color: black;
}

.box {
  color: black !important;
  border: 2.8px solid;
  border-right-color: var(--border-gray);
  border-bottom-color: var(--border-gray);
  border-top-color: var(--border-white);
  border-left-color: var(--border-white);
  box-shadow: 1.5px 1.5px 0 black !important;
  border-radius: 0 !important;
  margin: 0;
  padding: 0;
}
